{% set theme = user.color|default(config('theme')) %}
<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <title>{% block title %}{{ title }}{% endblock %} - Engelsystem</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="css/theme{{ theme }}.css"/>
        <link rel="stylesheet" type="text/css" href="vendor/icomoon/style.css"/>
        <link rel="stylesheet" type="text/css" href="vendor/bootstrap-datepicker-1.7.1/css/bootstrap-datepicker3.min.css"/>
        <script type="text/javascript" src="vendor/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="vendor/jquery-ui.min.js"></script>
        {% if page() in ['news', 'user-meetings', '/'] and is_user() -%}
            {% set parameters = {'key': user.api_key} -%}
            {% if page() == 'user-meetings' -%}
                {% set parameters = parameters|merge({'meetings': 1}) -%}
            {% endif %}
            <link href="{{ url('atom', parameters) }}" type="application/atom+xml" rel="alternate" title="Atom Feed">
        {% endif %}
    {% endblock %}
</head>
<body>

{% block body %}
    {% block header %}
        {% include "layouts/parts/navbar.twig" %}
    {% endblock %}

    <div class="container-fluid">
        <div class="row">
            {% block content %}{{ content|raw }}{% endblock %}
        </div>
        <div class="row" id="footer">
            {% block footer %}
                {%  include "layouts/parts/footer.twig" %}
            {% endblock %}
        </div>
    </div>

    <script type="text/javascript" src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="vendor/bootstrap-datepicker-1.7.1/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="vendor/bootstrap-datepicker-1.7.1/locales/bootstrap-datepicker.de.min.js"></script>
    <script type="text/javascript" src="vendor/Chart.min.js"></script>
    <script type="text/javascript" src="js/forms.js"></script>
    <script type="text/javascript" src="vendor/moment-with-locales.min.js"></script>
    <script type="text/javascript">
        $(function () {
            moment.locale("{{ session_get('locale')|escape('js') }}");
        });
    </script>
    <script type="text/javascript" src="js/moment-countdown.js"></script>
    <script type="text/javascript" src="js/sticky-headers.js"></script>
{% endblock %}

</body>
</html>
