{% extends 'admin/schedule/index.twig' %}
{% import 'macros/base.twig' as m %}
{% import 'macros/form.twig' as f %}

{% block title %}{{ schedule ? __('schedule.edit.title') : __('schedule.import.title') }}{% endblock %}

{% block row_content %}
    {% if schedule and schedule.updated_at %}
        <div class="col-md-12">
            <p>{{  __('schedule.last_update', [schedule.updated_at.format(__('Y-m-d H:i'))]) }}</p>
        </div>
    {% endif %}

    <form method="post">
        {{ csrf() }}

        <div class="col-lg-12">
            {{ f.input('name', __('schedule.name'), null, {'required': true, 'value': schedule ? schedule.name : ''}) }}
            {{ f.input('url', __('schedule.url'), 'url', {'required': true, 'value': schedule ? schedule.url : ''}) }}

            {{ f.select('shift_type', shift_types|default([]), __('schedule.shift-type'), schedule ? schedule.shift_type : '') }}

            {{ f.input('minutes_before', __('schedule.minutes-before'), 'number', {'required': true, 'value': schedule ? schedule.minutes_before : 15}) }}
            {{ f.input('minutes_after', __('schedule.minutes-after'), 'number', {'required': true, 'value': schedule ? schedule.minutes_after : 15}) }}

            {{ f.submit(__('form.save')) }}
        </div>
    </form>
{% endblock %}
