{% extends 'layouts/app.twig' %}
{% import 'macros/base.twig' as m %}
{% import 'macros/form.twig' as f %}

{% set title %}{% block title %}{{ __('schedule.import.title') }}{% endblock %}{% endset %}

{% block content %}
    <div class="container">
        <h1>{% block content_title %}{{ title }}{% endblock %}</h1>

        {% for message in errors|default([]) %}
            {{ m.alert(__(message), 'danger') }}
        {% endfor %}
        {% for message in success|default([]) %}
            {{ m.alert(__(message), 'success') }}
        {% endfor %}

        <div class="row">
            {% block row_content %}
                <form method="POST" action="{{ url('/admin/schedule/load') }}">
                    {{ csrf() }}

                    <div class="col-md-12">
                        <p>{{ __('schedule.import.text') }}</p>
                    </div>

                    <div class="col-lg-6">
                        {{ f.input('schedule-url', __('schedule.url'), 'url', {'required': true}) }}

                        {{ f.select('shift-type', shift_types|default([]), __('schedule.shift-type')) }}

                        {{ f.input('minutes-before', __('schedule.minutes-before'), 'number', {'value': 15, 'required': true}) }}
                        {{ f.input('minutes-after', __('schedule.minutes-after'), 'number', {'value': 15, 'required': true}) }}

                        {{ f.submit(__('form.load_schedule')) }}
                    </div>
                </form>
            {% endblock %}
        </div>
    </div>
{% endblock %}
