{% macro angel() %}
    <span class="icon-icon_angel bg-light"></span>
{% endmacro %}

{% macro glyphicon(glyph) %}
    <span class="glyphicon glyphicon-{{ glyph }}"></span>
{% endmacro %}

{% macro icon(icon) %}
    <span class="bi bi-{{ icon }}"></span>
{% endmacro %}

{% macro alert(message, type) %}
    <div class="alert alert-{{ type|default('info') }}">{{ message }}</div>
{% endmacro %}

{% macro user(user) %}
    <a href="{{ url('users', {'action': 'view', 'user_id': user.id}) }}"
            {%- if not user.state.arrived %} class="text-muted"{% endif -%}
    >
        {{ _self.angel() }} {{ user.name }}
    </a>
{% endmacro %}

{% macro button(label, url, type, size, title) %}
    <a href="{{ url }}" class="btn btn-{{ type|default('primary') }}{% if size %} btn-{{ size }}{% endif %}"{% if title %} title="{{ title }}"{% endif %}>
        {{ label }}
    </a>
{% endmacro %}

{% macro info(text) %}
    <span class="help-block">{{ _self.glyphicon('info-sign') }}{{ text }}</span>
{%- endmacro %}
