<div class="col-md-12">
    <hr/>
    <div class="text-center footer" style="margin-bottom: 10px;">
        {% block eventinfo %}
            {% if event_config.event_name %}
                {% if event_config.event_start_date and event_config.event_end_date %}
                    {{ __('%s, from %s to %s', [
                        event_config.event_name,
                        date(event_config.event_start_date).format(__('Y-m-d')),
                        date(event_config.event_end_date).format(__('Y-m-d'))
                    ]) }}
                {% elseif event_config.event_start_date %}
                    {{ __('%s, starting %s', [
                        event_config.event_name,
                        date(event_config.event_start_date).format(__('Y-m-d'))
                    ]) }}
                {% else %}
                    {{ event_config.event_name }}
                {% endif %} <br>
            {% elseif event_config.event_start_date and event_config.event_end_date %}
                {{ __('Event from %s to %s', [
                    date(event_config.event_start_date).format(__('Y-m-d')),
                    date(event_config.event_end_date).format(__('Y-m-d'))
                ]) }} <br>
            {% endif %}
        {% endblock %}

        {% for name,url in config('footer_items') %}
            <a href="{{ url }}">
                {% if '@' in url %}<span class="glyphicon glyphicon-envelope"></span>{% endif %}
                {{ __(name) }}
            </a> ·
        {% endfor %}
          <a href="https://github.com/engelsystem/engelsystem/issues">{{ __('Bugs / Features') }}</a>
        · <a href="https://github.com/engelsystem/engelsystem/">{{ __('Development Platform') }}</a>
        · <a href="{{ url('credits') }}">{{ __('Credits') }}</a>
    </div>
</div>
