{% extends 'pages/settings/settings.twig' %}
{% import 'macros/form.twig' as f %}
{% import 'macros/base.twig' as m %}

{% block title %}{{ __('settings.password') }}{% endblock %}

{% block row_content %}
    <form action="" enctype="multipart/form-data" method="post">
        {{ csrf() }}

        <div class="row">
            <div class="col-md-12">
                {{ m.info(__('settings.password.info')) }}

                {% if user.password %}
                    {{ f.input(
                        'password',
                        __('settings.password.password'),
                        'password',
                        {'required': true}
                    ) }}
                {% endif %}
                {{ f.input(
                    'new_password',
                    __('settings.password.new_password'),
                    'password',
                    {'min': min_length, 'required': true}
                ) }}
                {{ f.input(
                    'new_password2',
                    __('settings.password.new_password2'),
                    'password',
                    {'min': min_length, 'required': true}
                ) }}
                {{ f.submit() }}
            </div>
        </div>
    </form>
{% endblock %}
