{% extends 'layouts/app.twig' %}
{% import 'macros/base.twig' as m %}

{% block title %}{{ __(title|default(__('settings.settings'))) }}{% endblock %}

{% block content %}
    <div class="container user-settings">
        {% block container_title %}
            <h1>
                {{ __('settings.settings') }}
                <small class="text-muted">{{ block('title') }}</small>
            </h1>
        {% endblock %}

        <div class="row">
            <div class="col-md-3 settings-menu">
                <ul class="nav nav-pills flex-column">
                    {% for url,title in settings_menu %}
                        <li class="nav-item">
                            <a class="nav-link {% if url == request.url() %}active{% endif %}" href="{{ url }}">{{ __(title) }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-md-9">
                {% include 'layouts/parts/messages.twig' %}

                {% block row_content %}
                    {{ content|raw }}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
