{% extends 'pages/settings/settings.twig' %}
{% import 'macros/form.twig' as f %}
{% import 'macros/base.twig' as m %}

{% block title %}{{ __('settings.theme') }}{% endblock %}

{% block row_content %}
    <form action="" enctype="multipart/form-data" method="post">
        {{ csrf() }}

        <div class="row">
            <div class="col-md-12">
                {{ m.info(__('settings.theme.info')) }}
                {{ f.select('select_theme', themes, __('settings.theme'), current_theme) }}
                {{ f.submit() }}
            </div>
        </div>
    </form>
{% endblock %}
