{% import 'macros/form.twig' as f %}

{% macro field(name, options) %}
    {% set info = options['info']|default('config.' ~ name ~ '.info') %}
    {% if __(info) != info %}
        {% set options = options|merge({'info': __(info)}) %}
    {% endif %}
    {% if options.warning|default(false) %}
        {% set options = options|merge({
            'warning': __(options.warning)
        }) %}
    {% endif %}
    {% if options.in_env|default(false) %}
        {% set options = options|merge({
            'warning': __('config.warning_from_env') ~ ' ' ~ options.warning|default(''), 'disabled': true
        }) %}
    {% endif %}
    {% if not (options.writable ?? true) %}
        {% set options = options|merge({
            'warning': __('config.warning_file_not_writable') ~ ' ' ~ options.warning|default(''), 'disabled': true
        }) %}
    {% endif %}
    {# same as f.formData but will return value, needed for arrays #}
    {% set value = session_pop('form-data-' ~ name|replace({'.': '_'}), config(name, options.default|default(null))) %}

    {% if options.type == 'string' %}
        {{ f.input(name, __(options['name']), options + {'value': value}) }}
    {% elseif options.type == 'password' %}
        {% if value %}
            {# Set placeholder instead of password #}
            {% set value = '**********' %}
        {% endif %}
        {{ f.input(name, __(options['name']), options + {'type': 'password', 'value': value, 'placeholder': __('form.password.placeholder')}) }}
    {% elseif options.type == 'text' %}
        {{ f.textarea(name, __(options['name']), options + {'value': value}) }}
    {% elseif options.type == 'number' %}
        {{ f.number(name, __(options['name']), options + {'value': value}) }}
    {% elseif options.type == 'url' %}
        {{ f.input(name, __(options['name']), options + {'type': 'url', 'value': value}) }}
    {% elseif options.type == 'email' %}
        {{ f.input(name, __(options['name']), options + {'type': 'email', 'value': value}) }}
    {% elseif options.type == 'datetime-local' %}
        {{ f.input(name, __(options['name']), options + {'type': 'datetime-local', 'value': value}) }}
    {% elseif options.type == 'date' %}
        {{ f.input(name, __(options['name']), options + {'type': 'date', 'value': value}) }}
    {% elseif options.type == 'boolean' %}
        {{ f.checkbox(name, __(options['name']), options + {'checked': value}) }}
    {% elseif options.type == 'select' %}
        {{ f.select(name, __(options['name']), options.data, options + {'selected': value, 'translate': true}) }}
    {% elseif options.type == 'select_multi' %}
        {{ f.select(name, __(options['name']), options.data, options + {'selected': value, 'translate': true, 'multiple': true}) }}
    {% endif %}
{%- endmacro %}

<form method="post">
    {{ csrf() }}
    {% for name, option in config %}
        {% if not option.permission|default(false) or can(option.permission) %}
            <div class="row">
                <div class="col-md-12">
                    {{ _self.field(name, option) }}
                </div>
            </div>
        {% endif %}
    {% endfor %}

    {{ f.save(__('form.save')) }}
</form>
