{% import 'macros/form.twig' as f %}

{% macro field(name, options) %}
    {% set info = options['name'] ~ '.info' %}
    {% if __(info) != info %}
        {% set options = options + {'info': __(info)} %}
    {% endif %}
    {% if options.in_env|default(false) %}
        {% set options = {
            'warning': __('config.warning_from_env') ~ ' ' ~ options.warning|default(''), 'disabled': true
        } + options %}
    {% endif %}

    {% if options.type == 'string' %}
        {{ f.input(name, __(options['name']), options + {'value': config(name, options.default|default(null))}) }}
    {% elseif options.type == 'password' %}
        {% set value = '' %}
        {% if config(name, options.default|default(null)) %}
            {% set value = '**********' %}
        {% endif %}
        {{ f.input(name, __(options['name']), options + {'type': 'password', 'value': value, 'placeholder': __('form.password.placeholder')}) }}
    {% elseif options.type == 'text' %}
        {{ f.textarea(name, __(options['name']), options + {'value': config(name, options.default|default(null))}) }}
    {% elseif options.type == 'datetime-local' %}
        {{ f.input(name, __(options['name']), options + {'type': 'datetime-local', 'value': config(name, options.default|default(null))}) }}
    {% elseif options.type == 'boolean' %}
        {{ f.checkbox(name, __(options['name']), options + {'checked': config(name, options.default|default(null))}) }}
    {% elseif options.type == 'select' %}
        {{ f.select(name, __(options['name']), options.data, options + {'selected': config(name, options.default|default(null)), 'translate': true}) }}
    {% elseif options.type == 'select_multi' %}
        {{ f.select(name, __(options['name']), options.data, options + {'selected': config(name, options.default|default(null)), 'translate': true, 'multiple': true}) }}
    {% endif %}
{%- endmacro %}

<form method="post">
    {{ csrf() }}
    {% for name, option in config %}
        {% if not option.permission|default(false) or can(option.permission) %}
            <div class="row">
                <div class="col-md-12">
                    {{ _self.field(name, option) }}
                </div>
            </div>
        {% endif %}
    {% endfor %}

    {{ f.save(__('form.save')) }}
</form>
