{% extends 'admin/shifttypes/index.twig' %}
{% import 'macros/base.twig' as m %}
{% import 'macros/form.twig' as f %}

{% block title %}{{ shifttype.name }}{% endblock %}

{% block row_content %}
    {% if shifttype.signup_advance_hours %}
        <div class="col-md-12">
            {{ __('shifttype.edit.signup_advance_hours') }} {{ f.info(__('shifttype.edit.signup_advance_hours.info')) }}: {{ shifttype.signup_advance_hours }}
        </div>
    {% endif %}

    <div class="col-md-12">
        <h3>{{ __('general.description') }}</h3>{{ shifttype.description|md }}
    </div>

    {% if shifttype.neededAngelTypes.isNotEmpty() %}
        <div class="col-md-12">
            <h3>{{ __('location.required_angels') }}</h3>
            <ul>
                {% for neededAngelType in shifttype.neededAngelTypes %}
                    {% if neededAngelType.count %}
                        <li>
                            <a href="{{ url('angeltypes', {'action':'view', 'angeltype_id': neededAngelType.angelType.id}) }}">
                                {{ neededAngelType.angelType.name -}}
                            </a>: {{ neededAngelType.count }}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}
