{% extends "layouts/app.twig" %}

{% block title %}{{ __('Credits') }}{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ __('Credits') }}</h1>
        <div class="row">
            {% for title, credit in credits %}
                <div class="col-md-4">
                    <h2>{{ __(title) }}</h2>
                    {{ __(credit)|markdown }}
                </div>
            {% endfor %}

            <div class="col-md-4">
                <h2>{{ __('Source code') }}</h2>
                <p>{{ __('Version: _%s_', [version])|markdown }}</i></p>
                <p>
                    {{ __('The original engelsystem was written by
[cookie](https://github.com/cookieBerlin/engelsystem).
It was then completely rewritten and enhanced by [msquare](https://notrademark.de) (maintainer) and
[MyIgel](https://myigel.name).')|markdown }}
                </p>
                <p>
                    {{ __('Please have a look at the
[contributors list on GitHub](https://github.com/engelsystem/engelsystem/graphs/contributors)
for a complete list.')|markdown }}
                </p>
            </div>
        </div>
    </div>
{% endblock %}
