{% extends "layouts/app.twig" %}

{% block title %}{{ __('Messages') }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>
                {{ block('title') }}
            </h1>
        </div>
        <button class="btn btn-secondary"><i class="bi bi-plus-lg"></i> New Conversation</button>

        <table class="table table-striped data">
            <thead>
            <tr>
                <th class="column_angel">Angel</th>
                <th class="column_text">Message</th>
            </tr>
            </thead>
            <tbody>
            {% for c in conversations %}
            <tr>
                <td class="column_angel">{{ c.other_user.name }} {{ c.unread_messages }}</td>
                <td class="column_text">{{ c.latest_message.text }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}
