{% extends "layouts/app.twig" %}
{% import 'macros/base.twig' as m %}
{% import 'macros/form.twig' as f %}

{% block title %}{{ __('worklog.delete') }}{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ block('title') }}</h1>
        <form method="post">
            {{ csrf() }}
            <div class="row">
                <div class="col-md-12">
                    {{ m.alert(__('worklog.delete.info', [m.user(user)]), 'danger', true) }}
                    {{ m.button(__('form.cancel'), url('/users?action=view&user_id=' ~ user.id)) }}
                    {{ f.submit(__('form.delete'), {'btn_type': 'danger'}) }}
                </div>
            </div>
        </form>
    </div>
{% endblock %}
