{% extends "layouts/app.twig" %}
{% import 'macros/base.twig' as m %}
{% import 'macros/form.twig' as f %}

{% block title %}
    {{ __('user.edit.goodie') }}
{%- endblock %}

{% block content %}
    <div class="container">
        <h1>
            {{ m.back(url('/admin-active')) }}
            {{ block('title') }}: <small>{{ m.user(userdata, {'pronoun': true}) }} {{ m.user_info(userdata) }}</small>
        </h1>

        {% include 'layouts/parts/messages.twig' %}

        <div class="row">
            {% set score = goodie_score == '~' ? __('user.goodie_score.enough') : goodie_score %}
            <p>{{ __('user.goodie_score', [score]) }}</p>
        </div>

        <form method="post">
            {{ csrf() }}

            <div class="row">
                {% if is_tshirt %}
                    <div class="col-md-6">
                        {{ f.select('shirt_size', __('user.shirt_size'), config('tshirt_sizes'), {
                            'selected': userdata.personalData.shirt_size,
                            'required': true,
                            'required_icon': true,
                            'default_option': __('form.select_placeholder'),
                        }) }}
                    </div>
                {% endif %}
                <div class="col-md-6">
                    {{ f.switch('arrived', __('user.arrived'), {
                        'checked': userdata.state.arrived,
                        'disabled': not can('admin_arrive'),
                    }) }}

                    {% if userdata.state.force_active and config('enable_force_active') %}
                        {{ f.switch('force_active', __('user.force_active'), {
                            'checked': true,
                            'disabled': true,
                        }) }}
                    {% endif %}

                    {{ f.switch('active', __('user.active'), {
                        'checked': userdata.state.active,
                    }) }}

                    {{ f.switch('got_goodie', __('user.got_goodie'), {
                        'checked': userdata.state.got_goodie,
                    }) }}
                </div>
                <div class="col-md-12">
                    {{ f.submit(__('form.save'), {'icon_left': 'save'}) }}
                </div>
            </div>
        </form>
    </div>
{% endblock %}
